// highlight fix
.highlight {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    pre {
        padding: 15px;
    }
}